<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>twitterDownloader.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>52EA61991E533B4400EF3CC9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>52EA61AD1E533B4400EF3CC9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>52EA61B81E533B4400EF3CC9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
